body {
	display: block;
	height: 100%;
/*	background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/seigaiha.png);
*/	background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/brillant.png);
	background-repeat: repeat;
	background-position: center;
	background-attachment: fixed;
}

.container-fluid {
	max-width: 600px;
}

.container {
	max-width: 600px;
	padding: 0 0 0 0;
}

.main {
	background-color: #e7e7e7;
	height: 100%;
}

img {
	width: 100%;
}

h1 {
	font-family: 'Comfortaa', cursive;
}

.navbar {
	margin-bottom: 0;
}

.navbar-default .navbar-brand {
    color: white;
}

a.navbar-brand {
	font-family: 'Baloo', cursive;
	font-size: 220% !important;
	background-color: #ffe047;
}

a {
	font-family: 'Comfortaa', cursive;
	font-size: 130%;
}

p {
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	color: #555;
	margin: 20px 0;
}

/* ---- Contact Form ----*/

.btn-primary {
    color: #fff;
    background-color: #ffe047;
    border-color: #555;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ffe047;
    border-color: #555;
}

.btn-primary:active {
    color: #fff;
    background-color: #ffe047;
    border-color: #555;
}